<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article with number {{ article_id }}</title>
</head>
<body>
    <main>
        <header>
            <h1> Article Page {{ article_id }} </h1>
        </header>
        <section>
            <article>
                <h2> News {{ article_id }}</h2>
                <p>Разнообразный и богатый опыт укрепление и развитие структуры в значительной степени обуславливает
                    создание дальнейших направлений развития. Разнообразный и богатый опыт рамки и место обучения
                    кадров требуют от нас анализа направлений прогрессивного развития.</p>
            </article>
        </section>
    </main>
</body>
</html>